/* Home.css */

.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
  overflow: hidden;
}

.home-logo {
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.home-intro {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.home-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.home-btn:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  cursor: pointer; 
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat top center;
  background-size: cover; 
  z-index: 1;
  animation: move-stars 200s linear infinite;
}

.twinkling {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png') repeat top center;
  background-size: cover;
  animation: move-twinkling 100s linear infinite;
}
.footer-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px 0;
  background-color: #111; 
}
@keyframes move-stars {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

@keyframes move-twinkling {
  from { background-position: 0 0; }
  to { background-position: -10000px 5000px; }
}

/* Responsive design */
@media (max-width: 768px) {
  .home-logo {
    font-size: 2.5rem;
  }

  .home-intro {
    font-size: 1.2rem;
  }

  .home-buttons {
    flex-direction: column; 
  }

  .home-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .home-logo {
    font-size: 2.5rem;
  }

  .home-intro {
    font-size: 1.2rem;
  }

  .home-buttons {
    flex-direction: column; 
  }

  .home-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
